/* 인사말 */


/* Sub Visual */

.sub-visual {
    background-image: url(../images/about_subvisual.png);
}


/* //Sub Visual */


/* About */

.about {
    padding-top: 5.8824em;
    /*100*/
}


/* About - introduce */

.about .introduce {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding-bottom: calc(3.5294em + 14px);
}

.about .introduce .imgBox {
    position: relative;
    max-width: 460px;
}

.about .introduce .imgBox::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #555555;
    top: 14px;
    left: 14px;
    z-index: -1;
}

.about .introduce .imgBox img {
    width: 100%;
}

.about .introduce .textBox {
    max-width: 590px;
    word-break: keep-all;
}

.about .introduce h2 {
    font-size: 1.2941rem;
    font-weight: 500;
    line-height: 1.3;
    padding-bottom: 1.0909em;
}

.about .introduce .description p {
    padding-bottom: 1em;
    color: var(--font-main);
}

.about .introduce .sign {
    line-height: 1.3;
}

.about .introduce .sign span {
    font-size: 1.2941rem;
    margin-left: 10px;
    letter-spacing: 3px;
    font-weight: 500;
}


/* // About - introduce */


/* About - league */

.about .league {
    padding: 3.5294em 0 5.8824em;
}

.about .league .inner {
    position: relative;
    z-index: 1;
}

.about .league ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.about .league li {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-top: 6px solid #05283C;
    padding: 30px 34px;
    box-sizing: border-box;
    cursor: default;
}

.about .league li .icon {
    width: 32px;
    margin-bottom: 12px;
}

.about .league li strong {
    font-weight: 700;
}

.about .league li strong.lighting {
    position: relative;
}

.about .league li:hover strong.lighting::before {
    position: absolute;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(208, 179, 132, .36) 40%, transparent 60%);
    animation: lighting .17s ease-in-out;
}

@keyframes lighting {
    0% {
        width: 0;
    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}

.about .league li h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
}

.about .league li .bar {
    display: block;
    width: 54px;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}

.about .league .title {
    line-height: 1.3;
    word-break: keep-all;
}

.about .league li p {
    line-height: 1.5;
    color: var(--font-main);
}

.about .league li.large--logo {
    display: none;
}

@media (max-width:980px) {
    .about .league {
        padding: 5.8824em 0;
    }

    .about .introduce {
        flex-direction: column;
        padding-bottom: 0;
    }

    .about .introduce .imgBox {
        max-width: 340px;
    }

    .about .introduce .textBox {
        max-width: none;
        width: 90%;
        text-align: center;
    }

    .about .league ul {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .about .league li.large--logo {
        display: flex;
        justify-content: end;
        font-size: 80px;
        font-weight: bold;
        letter-spacing: -1px;
        color: rgba(5, 40, 60, .1);
        text-align: right;
        padding: 0;
        border: none;
    }
}

@media (max-width:720px) {
    .about .league ul {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .about .league li.large--logo {
        display: none;
    }

    .about .league li h2 br {
        display: none;
    }
}

@media (max-width:460px) {
    .about .imgWrap {
        padding-right: 10px;
    }

    .about .textBox {
        width: 95%;
    }

    .about .large--logo {
        font-size: 50px;
        padding: 40px 0;
    }

    .about .league .title {
        font-size: 2rem;
    }

    .about .league li {
        padding: 26px 22px;
    }
}


/* //About - league */


/* Clients */

.clients {
    padding: 24px 0;
    border-top: 1px solid #ddd;
}

.clients h2 {
    display: none;
}



.clients .swiper-slide img {
    max-width: 120px;
    width: 100%;

}



/* //Clients */


/* // 인사말 */


/* 오시는 길 */


/* Location */

.location {
    padding: 5.8824em 0;
    /*100*/
}

.location .container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.location .mapBox {
    width: 60%;
}

.location .root_daum_roughmap {
    width: 100%;
}

.location .root_daum_roughmap .wrap_controllers {
    display: none;
}

.location .textBox {
    width: 40%;
}

.location .textBox ul {
    display: flex;
    flex-direction: column;
    gap: 54px;
}

.location .textBox li {
    padding-left: 40px;
    background-repeat: no-repeat;
}

.location .textBox li.address {
    background-image: url(../images/location_dark.png);
    background-size: 32px;
}

.location .textBox li.call {
    background-image: url(../images/call_dark.png);
    background-size: 28px;
    background-position: top 2px left;
}

.location .textBox li.subway {
    background-image: url(../images/subway_dark.png);
    background-size: 32px;
}

.location .textBox .sub-title {
    font-size: 1.1765rem;
    font-weight: 600;
    padding-bottom: 6px;
}

.location .textBox .description .subway-line {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    font-size: 15px;
    line-height: 24px;
    background-color: #3cb44a;
    text-align: center;
    font-weight: 500;
    color: var(--font-white);
}

.location .textBox .description .subway-line:first-child {
    margin-right: 4px;
}

.location .textBox .description .subway-line:last-child {
    background-color: #ff7300;
}

@media (max-width:980px) {
    .location .container {
        flex-direction: column;
    }

    .location .mapBox {
        width: 100%;
    }

    .location .textBox {
        width: 100%;
    }

    .location .textBox ul {
        gap: 40px;
    }
}


/* Location */


/* // Location */