/* 성공사례 */


/* Sub Visual */

.sub-visual {
    background-image: url(../images/consulation_subvisual.png);
}


/* //Sub Visual */


/* Consultation */

.consulation {
    padding: 5.8824em 0;
    background-color: #fff;
}

.consulation .description {
    text-align: left;
    padding-bottom: 3.5294em;
}

.consulation .description p:last-child {
    padding-bottom: 0;
}

.consulation .container {
    border-top: 2px solid #333;
    box-sizing: border-box;
    padding: 60px 40px;
}

.consulation .formBox {
    display: flex;
    gap: 80px;
    margin-bottom: 20px;
}

.consulation .formBox .personal-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    gap: 40px;
}

.consulation .formBox .personal-info>div {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.consulation .formBox label {
    width: 22%;
    font-size: 0.9412rem;
}

.consulation .formBox input,
.consulation .formBox select {
    height: 42px;
}

.consulation .formBox input,
.consulation .formBox select,
.consulation .formBox textarea {
    width: 78%;
    padding: 0 7px;
    background-color: #fff;
    color: var(--font-main);
    border: 1px solid #ddd;
    outline: none;
    box-sizing: border-box;
    font-size: 0.9412rem;
    font-family: 'Pretendard Variable', sans-serif;
}

.consulation .formBox select option {
    color: var(--font-main);
}

.consulation .formBox .comment {
    display: flex;
    width: 50%;
}

.consulation .formBox .comment label {
    position: static;
    padding-top: 11px;
}

.consulation .formBox textarea {
    width: 78%;
    height: 288px;
    padding: 7px;
}

select {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    background-image: url(../images/arrow_hide.png);
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 14px;
}

.consulation .agreeBox {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.consulation .agreeBox input {
    width: 16px;
    height: 16px;
}

.consulation .agreeBox label {
    width: auto;
    font-size: 14px;
}

.consulation .agreeBox a {
    font-size: 14px;
    color: #777;
    text-decoration: underline;
}

.consulation .btnBox {
    border: none;
    padding: none;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

.consulation .btnBox input {
    border: none;
    background-color: #05283C;
    border-radius: 0;
    font-size: 1rem;
    padding: 0 3.5294em;
    height: 50px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Pretendard Variable', sans-serif;
    color: var(--font-white);
    font-weight: 500;
}

.consulation #bglayer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    z-index: 30;
}

.consulation #bglayer.show {
    display: block;
}

.consulation #overlayer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}

.consulation #overlayer .content {
    padding: 20px;
    background-color: #f5f5f5;
}

.consulation #overlayer .content li {
    padding-bottom: 1rem;
}

.consulation #overlayer .content li:last-child {
    padding-bottom: 0;
}

.consulation #overlayer .sub-title {
    font-weight: 600;
    padding-bottom: 0;
    font-size: 0.8235rem;
    color: var(--font-main);
    padding-bottom: 0.4286em;
}

.consulation #overlayer .description {
    font-size: 0.8235rem;
    color: var(--font-main);
    padding-bottom: 0;
}

@media(max-width:980px) {
    .consulation .formBox {
        flex-direction: column;
        gap: 40px;
    }
    .consulation .formBox .personal-info,
    .consulation .formBox .comment {
        width: 100%;
    }
    .consulation .textBox {
        width: 100%;
        text-align: center;
    }
    .consulation .description p br {
        display: block;
    }
    .consulation .container {
        width: 100%;
    }
}

@media (max-width:720px) {
    .consulation .container {
        padding: 40px 26px;
    }
    .consulation .formBox {
        display: flex;
        flex-direction: column;
    }
    .consulation .formBox label {
        width: 25%;
    }
    .consulation .formBox input,
    .consulation .formBox select,
    .consulation .formBox textarea {
        width: 75%;
    }
    .consulation #overlayer {
        width: 90%;
    }
}

@media (max-width:460px) {
    .consulation .container {
        padding: 30px 20px;
    }
    .consulation .formBox label {
        display: none;
    }
    .consulation .formBox input,
    .consulation .formBox select,
    .consulation .formBox textarea {
        width: 100%;
    }
    .consulation .formBox .personal-info,
    .consulation .formBox {
        gap: 26px;
    }
}


/* Consultation */


/* Review */

.review {
    padding: 5.8824em 0;
}

.review .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 20px;
    padding-bottom: 60px;
}

.review .container .itemBox {
    background-color: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    padding: 30px;
    transition: .3s;
}

.review .container .itemBox:hover {
    border-color: #05283C;
}

.review .container .itemBox .headline {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-bottom: 1.1765em;
}

.review .container .itemBox .headline .bar {
    /* flex-shrink: 1; */
    flex-grow: 1;
    height: 2px;
    background-color: #ddd;
}

.review .container .itemBox .headline .date .yy-mm {
    color: var(--font-lightgray);
    font-size: 0.8824rem;
    font-weight: 300;
    padding-bottom: 0.2667em;
    text-align: right;
}

.review .container .itemBox .headline .date .dd {
    font-size: 1.5294rem;
    font-weight: 600;
    color: var(--font-main);
    text-align: right;
}

.review .container .itemBox .sub-title {
    font-size: 0.8824rem;
    color: var(--font-lightgray);
    padding-bottom: 0.2667em;
}

.review .container .itemBox .thumbBox {
    margin-bottom: 1.2941em;
}

.review .container .itemBox .thumbBox img {
    width: 100%;
}

.review .container .itemBox .textBox {
    color: var(--font-main);
    /* background-color: #f8f8f8; */
}

.review .container .itemBox .textBox h2 {
    position: relative;
    z-index: 0;
    font-size: 1.1765rem;
    line-height: 1.3;
    font-weight: 500;
    color: var(--font-main);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review .container .itemBox:hover .textBox h2::before {
    position: absolute;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(208, 179, 132, .36) 50%, transparent 50%);
    top: 0;
    left: 0;
    animation: highlighter .17s ease-in-out;
}

@keyframes highlighter {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.review .container .itemBox .textBox .description {
    font-size: 0.8824rem;
    padding-top: 1em;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--description);
    word-break: normal;
}

.btnWrap {
    display: flex;
    justify-content: end;
}

.btnWrap a.btn--board {
    font-size: 0.8824rem;
    display: inline-block;
    color: var(--font-white);
    background-color: #05283C;
    width: 74px;
    text-align: center;
    padding: 8px 0;
}

@media (max-width:720px) {
    .review .container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
    }
}

@media (max-width:460px) {
    .review .container {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* Review 보기페이지 */

.review-view {
    padding: 5.8824em 0;
    background-color: #fff;
}

.review-view .article {
    margin-bottom: 100px;
}

.review-view .article h2 {
    font-size: 1.6471rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 1.4286em;
    border-bottom: 2px solid #333;
}

.review-view .article .description {
    font-size: 0.9412rem;
    padding: 2.5em;
    box-sizing: border-box;
}

.review-view .btnWrap {
    justify-content: center;
}