/* Visual */

.visual {
    font-family: 'NotoSerifKR', serif;
}

.visual .container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.visual .container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.visual .low-power-mode video#background-video {
    display: none;
}

.visual .low-power-mode #fallbackImg {
    display: block;
}

.visual video#background-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.visual #fallbackImg {
    display: none;
}

.visual #fallbackImg {
    width: 100%;
    height: 100vh;
    background-image: url(../video/visual_thumb.png);
    background-size: cover;
    background-position: center;
}

.visual .container .titleBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1200px;
    padding: 0 10px 3.5294em 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
}

.visual .container .titleBox .sitename {
    color: rgba(255, 255, 255, .6);
    border: solid rgba(255, 255, 255, .6);
    border-width: 1px 0 1px 0;
    padding: 0.625em;
}

.visual .container .titleBox h2 {
    font-size: 2.5882rem;
    color: var(--font-white);
    line-height: 1.6;
    padding-top: 0.25em;
    /*33px*/
    /* text-shadow: 1px 1px 4px rgba(0, 0, 0, .6); */
}

.visual .container .titleBox h2 span {
    font-weight: 600;
}

.visual .container .titleBox img {
    width: 200px;
}

.visual .container .scroll-animation {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: var(--font-white);
    font-size: 0.8824rem;
    padding-bottom: 30px;
    animation: scroll-move 1.7s ease-in-out infinite;
}

.visual .container .scroll-animation::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 16px;
    background-color: rgba(255, 255, 255, .4);
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}


/* Scroll animation */

@keyframes scroll-move {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width:980px) {
    .visual .container .titleBox h2 {
        word-break: keep-all;
    }
    .visual .container .titleBox img {
        width: 180px;
    }
}

@media (max-width:460px) {
    .visual .container .titleBox h2 {
        font-size: 1.8750rem;
    }
    .visual .container .titleBox h3 {
        font-size: 2.1875rem;
    }
    .visual .container .titleBox img {
        width: 160px;
    }
}


/* // Visual */


/* About Us */

.about {
    padding: 5.8824em 0 calc(5.8824em + 14px);
}

.about .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.about .imgBox {
    position: relative;
    max-width: 460px;
}

.about .imgBox::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #555555;
    top: 14px;
    left: 14px;
    z-index: -1;
}

.about .imgBox img {
    width: 100%;
}

.about .textBox {
    max-width: 590px;
    word-break: keep-all;
}

.about h2 {
    font-size: 1.2941rem;
    font-weight: 500;
    line-height: 1.3;
    padding-bottom: 1.0909em;
}

.about .description p {
    padding-bottom: 1em;
}

.about .sign {
    line-height: 1.3;
}

.about .sign span {
    font-size: 1.2941rem;
    margin-left: 10px;
    letter-spacing: 3px;
    font-weight: 500;
}

@media (max-width:980px) {
    .about .inner {
        flex-direction: column;
    }
    .about .imgBox {
        max-width: 340px;
    }
    .about .textBox {
        max-width: none;
        width: 90%;
        text-align: center;
    }
    .about .description p br {
        display: none;
    }
}

@media (max-width:460px) {
    .about .container {
        padding-right: 10px;
    }
    .about .textBox {
        width: 95%;
    }
}


/* // About */


/* Practice Areas */

.practice {
    padding: 5.8824em 0;
    background-image: url(../images/bg_img01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    position: relative;
}

.practice::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .18);
}

.practice .titleBox .title {
    color: var(--font-white);
}

.practice .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}

.practice .container .itemBox {
    position: relative;
    max-width: 285px;
    aspect-ratio: 1;
    box-sizing: border-box;
    padding: 30px;
    background-color: #fff;
    transition: .3s;
    color: var(--font-main);
}

.practice .container .itemBox::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    opacity: 0;
    transition: .3s;
}

.practice .container .itemBox::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: .3s;
}

.practice .container .itemBox * {
    position: relative;
    z-index: 1;
}

.practice .container .itemBox:hover .number,
.practice .container .itemBox:hover .item-title {
    color: var(--font-white);
}

.practice .container .itemBox.sexual::before {
    background-image: url(../images/practice_img08.png);
    background-size: cover;
    background-position: center;
}

.practice .container .itemBox.drug::before {
    background-image: url(../images/practice_img05.png);
    background-size: cover;
}

.practice .container .itemBox.crime::before {
    background-image: url(../images/practice_img03.png);
    background-size: cover;
    background-position: center right;
}

.practice .container .itemBox.civil::before {
    background-image: url(../images/practice_img07.png);
    background-size: cover;
}

.practice .container .itemBox.company::before {
    background-image: url(../images/practice_img04.png);
    background-size: cover;
    background-position: center right;
}

.practice .container .itemBox.estate::before {
    background-image: url(../images/practice_img02.png);
    background-size: cover;
    background-position: center;
}

.practice .container .itemBox.divorce::before {
    background-image: url(../images/practice_img09.png);
    background-size: cover;
    background-position: center;
}

.practice .container .itemBox.special::before {
    background-image: url(../images/practice_img06.png);
    background-size: cover;
}

.practice .container .itemBox:hover::before,
.practice .container .itemBox:hover::after {
    opacity: 1;
}

.practice .container .itemBox .number {
    font-size: 1.5294rem;
    font-weight: 600;
    display: flex;
    gap: 30px;
    align-items: center;
    padding-bottom: 24px;
    transition: .3s;
}

.practice .container .itemBox .number .bar {
    flex-grow: 1;
    flex-shrink: 1;
    height: 2px;
    background-color: #ddd;
}

.practice .container .itemBox .sub-title {
    font-size: 0.9412rem;
    color: var(--font-lightgray);
    padding-bottom: 0.3333em;
}

.practice .container .itemBox .item-title {
    font-size: 1.5294rem;
    font-weight: 600;
    line-height: 1.3;
    padding-bottom: 0.5em;
    word-break: keep-all;
    transition: .3s;
}

@media(max-width:980px) {
    .practice .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .practice .container .itemBox {
        max-width: none;
        width: 100%;
        aspect-ratio: 0;
    }
}

@media (max-width:620px) {
    .practice .container .itemBox {
        padding: 20px;
    }
}

@media (max-width:460px) {
    .practice .container .itemBox .number {
        font-size: 1.3750rem;
    }
    .practice .container .itemBox .sub-title {
        font-size: 0.8750rem;
    }
    .practice .container .itemBox .item-title {
        font-size: 1.3750rem;
    }
}


/* // Practice Areas */


/* Success story */

.success {
    padding: 5.8824em 0;
    /*100*/
}

.success .swiper {
    padding: 16px 0 3.5294em 0;
}

.success .swiper-slide {
    padding-top: 37px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    transition: .3s;
}

.success .swiper-slide:hover {
    border-color: #05283C;
}

.success .swiper-slide .caseBox {
    padding: 0 30px;
}

.success .swiper-slide .category {
    background-color: #05283C;
    display: inline-block;
    padding: 8px 20px;
    color: var(--font-white);
    position: absolute;
    top: -16px;
    left: 30px;
}

.success .swiper-slide .caseBox .legal-title {
    font-size: 1.1765rem;
    font-weight: 600;
    color: #05283C;
    line-height: 1.3;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.success .swiper-slide .caseBox .legal-result {
    font-size: 1rem;
    padding: 0.9412em 0 1.1765em;
    color: #777;
    border-bottom: 1px solid #ddd;
}

.success .swiper-slide .caseBox .description {
    font-size: 0.8824rem;
    padding-top: 1.3333em;
    word-break: normal;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--description);
}

.success .swiper-slide .profile {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1.1765em 30px;
    margin-top: 1.1765em;
    background-color: #f5f5f5;
    /* border-top: 1px solid #ddd; */
}

.success .swiper-slide .profile .photo {
    width: 54px;
    height: 54px;
    border-radius: 100px;
    background-color: #ddd;
    background-size: cover;
}

.success .swiper-slide .profile .photo.lawyer01 {
    background-image: url(../images/small_lawyer01.png);
}

.success .swiper-slide .profile .photo.lawyer02 {
    background-image: url(../images/small_lawyer02.png);
}

.success .swiper-slide .profile .photo.lawyer03 {
    background-image: url(../images/small_lawyer03.png);
}

.success .swiper-slide .profile .photo.lawyer04 {
    background-image: url(../images/small_lawyer04.png);
}

.success .swiper-slide .profile .photo.lawyer05 {
    background-image: url(../images/small_lawyer05.png);
}

.success .swiper-slide .profile .textBox .sitename {
    font-size: 0.7647rem;
}

.success .swiper-slide .profile .textBox .name {
    color: var(--font-main);
    font-weight: 500;
}


/* .success .slideBox .profile .textBox .name strong {
    letter-spacing: 3px;
} */

.success .swiper-horizontal>.swiper-pagination-bullets {
    bottom: 0;
}

.success .arrowBox {
    display: flex;
    position: absolute;
    bottom: 33px;
    right: 0;
    gap: 30px;
}

.success .swiper-button-prev::after,
.success .swiper-button-next::after {
    display: none;
}

.success .swiper-button-prev,
.success .swiper-button-next {
    position: static;
    width: auto;
    height: auto;
    font-size: 14px;
    color: #05283c;
    margin-top: 0;
}

.success .swiper-button-prev img {
    margin-right: 7px;
}

.success .swiper-button-next img {
    margin-left: 7px;
}

.success .btnBox {
    padding-top: calc(3.5294em - 17px);
}

@media (max-width:720px) {
    .success .btnBox {
        padding-top: calc(3.5294em - 16px);
    }
}


/* // Success story */


/* Consultation */

.consulation {
    padding: 5.8824em 0;
    /*100*/
    background-image: url(../images/consulation_bg02.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.consulation::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .75);
}

.consulation .wrap {
    display: flex;
    gap: 50px;
    align-items: center;
}

.consulation .textBox {
    width: 45%;
}

.consulation .titleBox {
    /* text-align: left; */
}

.consulation .titleBox .title {
    color: var(--font-white);
}

.consulation .description {
    color: var(--font-white);
}

.consulation .description p {
    padding-bottom: 1em;
}

.consulation .description p br {
    display: none;
}

.consulation .description p:last-child {
    padding-bottom: 2em;
}

.consulation ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.consulation li {
    display: flex;
    align-items: center;
    gap: 30px;
    color: var(--font-white);
    text-align: left;
    line-height: 1.4;
    word-break: keep-all;
}

.consulation li span.label {
    display: inline-block;
    width: 70px;
    text-align: left;
    flex-shrink: 0;
}

.consulation li.call span.label {
    padding-top: 2px;
}

.consulation li span.number {
    font-size: 1.5294rem;
    font-weight: 600;
}

.consulation li.kakao a {
    display: flex;
    align-items: center;
    gap: 26px;
    color: var(--font-white);
}

.consulation li.kakao a img {
    width: 37px;
}

.consulation .container {
    background-color: rgba(255, 255, 255, 0.11);
    padding: 40px;
    box-sizing: border-box;
    width: 55%;
}

.consulation .formBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 44px 30px;
    margin-bottom: 20px;
}

.consulation .formBox>div {
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 6px;
}

.consulation .formBox label {
    color: var(--font-white);
    width: 35%;
    font-size: 0.9412rem;
}

.consulation .formBox input,
.consulation .formBox select {
    height: 30px;
}

.consulation .formBox input,
.consulation .formBox select,
.consulation .formBox textarea {
    width: 65%;
    /* background-color: #999; */
    background-color: transparent;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: var(--font-white);
    font-size: 0.9412rem;
    font-family: 'Pretendard Variable', sans-serif;
}

.consulation .formBox input:focus,
.consulation .formBox select:focus,
.consulation .formBox textarea:focus {
    background: #fff;
    color: #272727;
}

.consulation .formBox select option {
    color: var(--font-main);
}

.consulation .formBox .comment {
    grid-column-start: 1;
    grid-column-end: 3;
}

.consulation .formBox .comment {
    flex-direction: column;
    align-items: start;
}

.consulation .formBox .comment label {
    position: static;
}

.consulation .formBox textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-top: 12px;
}

.consulation select {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    background-image: url(../images/arrow_hide_white.png);
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 14px;
}

.consulation .agreeBox {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.consulation .agreeBox input {
    width: 16px;
    height: 16px;
}

.consulation .agreeBox label {
    width: auto;
    font-size: 0.8235rem;
    color: var(--font-white);
}

.consulation .agreeBox a {
    font-size: 0.8235rem;
    color: rgba(255, 255, 255, .4);
    text-decoration: underline;
}

.consulation .btnBox {
    border: none;
    padding: none;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

.consulation .btnBox input {
    border: none;
    background-color: #05283C;
    font-size: 1rem;
    padding: 0 3.5294em;
    height: 50px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Pretendard Variable', sans-serif;
    color: var(--font-white);
    font-weight: 500;
}

.consulation #bglayer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    z-index: 30;
}

.consulation #bglayer.show {
    display: block;
}

.consulation #overlayer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}

.consulation #overlayer .content {
    padding: 20px;
    background-color: #f5f5f5;
}

.consulation #overlayer .content li {
    padding-bottom: 1rem;
    display: block;
}

.consulation #overlayer .content li:last-child {
    padding-bottom: 0;
}

.consulation #overlayer .sub-title {
    font-weight: 600;
    padding-bottom: 0;
    font-size: 0.8235rem;
    color: var(--font-main);
    padding-bottom: 0.4286em;
}

.consulation #overlayer .description {
    font-size: 0.8235rem;
    color: var(--font-main);
}

@media(max-width:980px) {
    .consulation .wrap {
        flex-direction: column;
    }
    .consulation .textBox {
        width: 100%;
    }
    .consulation ul {}
    .consulation .description p br {
        display: block;
    }
    .consulation .container {
        width: 100%;
    }
}

@media (max-width:620px) {
    .consulation .container {
        padding: 28px;
    }
    .consulation .formBox {
        display: flex;
        flex-direction: column;
    }
    .consulation .formBox label {
        width: 25%;
    }
    .consulation .formBox input,
    .consulation .formBox select {
        width: 75%;
    }
    .consulation #overlayer {
        width: 90%;
    }
}


/* Consultation */


/* Location */

.location {
    padding: 5.8824em 0;
    /*100*/
}

.location .container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.location .mapBox {
    /* padding-bottom: 3.5294em; */
    width: 60%;
}

.location .root_daum_roughmap {
    width: 100%;
}

.location .root_daum_roughmap .wrap_controllers {
    display: none;
}

.location .textBox {
    width: 40%;
}

.location .textBox ul {
    display: flex;
    flex-direction: column;
    gap: 54px;
}

.location .textBox li {
    padding-left: 40px;
    background-repeat: no-repeat;
    background-size: 32px;
}

.location .textBox li.address {
    background-image: url(../images/location_dark.png);
}

.location .textBox li.call {
    background-image: url(../images/call_dark.png);
    background-position: top 2px left;
    background-size: 28px;
}

.location .textBox li.subway {
    background-image: url(../images/subway_dark.png);
}

.location .textBox .sub-title {
    font-size: 1.1765rem;
    font-weight: 600;
    padding-bottom: 6px;
    /* color: var(--font-white); */
}

.location .textBox .description {
    /* color: var(--font-white); */
}

.location .textBox .description .subway-line {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    font-size: 15px;
    line-height: 24px;
    background-color: #3cb44a;
    text-align: center;
    font-weight: 500;
    color: var(--font-white);
}

.location .textBox .description .subway-line:first-child {
    margin-right: 4px;
}

.location .textBox .description .subway-line:last-child {
    background-color: #ff7300;
}

@media (max-width:980px) {
    .location .container {
        flex-direction: column;
    }
    .location .mapBox {
        width: 100%;
    }
    .location .textBox {
        width: 100%;
    }
    .location .textBox ul {
        gap: 40px;
    }
}


/* // Location */


/* Post */

.post {
    padding: 5.8824em 0;
    background-image: url(../images/bg_img01.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: ; */
    position: relative;
}

.post::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .18);
}

.post .titleBox .title {
    color: var(--font-white);
}

.post .inner {
    /* display: flex;
    gap: 60px;
    justify-content: space-between; */
}

.post .post-menu .tab-menu {
    position: relative;
    font-size: 1.1765rem;
    padding-bottom: 14px;
    width: auto;
    cursor: pointer;
    color: var(--font-white);
}

.post .post-menu .tab-menu.on {
    color: var(--font-white);
    font-weight: 600;
}

.post .post-menu .tab-menu.on::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #f5f5f5;
}

.post .tab-con {
    display: none;
}

.post .tab-con.view {
    display: block;
    overflow: hidden;
}

.post .tab-con .swiper {
    padding-top: 2.3529em;
    margin-bottom: calc(3.5294em + 50px);
}

.post .tab-con .swiper-slide a {
    background-color: #fff;
    box-sizing: border-box;
    display: block;
    padding: 30px;
    transition: .3s;
}

.post .itemBox .headline {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-bottom: 1.1765em;
}

.post .itemBox .headline .bar {
    /* flex-shrink: 1; */
    flex-grow: 1;
    height: 2px;
    background-color: #ddd;
}

.post .itemBox .headline .date .yy-mm {
    color: var(--font-lightgray);
    font-size: 0.8824rem;
    font-weight: 300;
    padding-bottom: 0.2667em;
    text-align: right;
}

.post .itemBox .headline .date .dd {
    font-size: 1.5294rem;
    font-weight: 600;
    color: var(--font-main);
    text-align: right;
}

.post .itemBox .sub-title {
    font-size: 0.8824rem;
    color: var(--font-lightgray);
    padding-bottom: 0.2667em;
}

.post .itemBox .thumbBox {
    margin-bottom: 1.2941em;
}

.post .itemBox .thumbBox img {
    width: 100%;
}

.post .itemBox .textBox {
    color: var(--font-main);
    /* background-color: #f8f8f8; */
}

.post .itemBox .textBox h2 {
    position: relative;
    z-index: 0;
    font-size: 1.1765rem;
    line-height: 1.3;
    font-weight: 500;
    color: var(--font-main);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post .itemBox:hover .textBox h2::before {
    position: absolute;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(208, 179, 132, .36) 50%, transparent 50%);
    top: 0;
    left: 0;
    animation: highlighter .17s ease-in-out;
}

@keyframes highlighter {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.post .itemBox .textBox .description {
    font-size: 0.8824rem;
    padding-top: 1em;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--description);
    word-break: normal;
}

.post .arrowBox {
    display: flex;
    position: absolute;
    top: 0;
    right: 10px;
    gap: 30px;
}

.post .tab-con.review .arrowBox {
    bottom: 151px;
}

.post .swiper-button-prev::after,
.post .swiper-button-next::after {
    display: none;
}

.post .swiper-button-prev,
.post .swiper-button-next {
    position: static;
    width: auto;
    height: auto;
    font-size: 14px;
    color: #05283c;
    margin-top: 0;
}

.post .swiper-button-prev img {
    margin-right: 7px;
}

.post .swiper-button-next img {
    margin-left: 7px;
}

.post .btnBox {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

@media(max-width:980px) {
    .post .inner {
        flex-direction: column;
        gap: 50px;
    }
    .post .titleBox {
        text-align: center;
    }
    .post .tab-con .swiper {
        position: relative;
        width: 100%;
        padding-bottom: 3.5294em;
        margin-bottom: calc(3.5294em + 50px - 17px);
    }
    .post .tab-con .swiper-horizontal>.swiper-pagination-bullets {
        bottom: 0px;
    }
    .post .swiper-pagination-bullet {
        background: #fff;
    }
}

@media(max-width:720px) {
    .post .post-menu .tab-menu {
        font-size: 1.1250rem;
    }
    .post .tab-con .swiper {
        margin-bottom: calc(3.5294em + 50px - 16px);
    }
    .post .tab-con .swiper-slide a {
        padding: 22px;
    }
}


/* // Post */


/* Clients */

.clients {
    padding: 24px 0;
}

.clients .swiper-slide img {
    width: 120px;
    margin: 0 auto;
}

@media (max-width:580px) {
    .clients .swiper-slide img {
        width: 90px;
    }
}